<body {
    font-family: Arial, sans-serif;
    color: #b22222;
    background-color: #ffffff;
}
form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
}
#gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px; /* Add rounded edges */
}
@media (max-width: 768px) {
    #gallery {
        flex-direction: column;
    }
}
h1 {
    font-size: 2em;
    margin-bottom: 1em;
}
p {
    margin-bottom: 1em;
}
form input, form select {
    margin-bottom: 1em;
}
img {
    max-width: 100%;
    height: auto;
}
.title {
    font-size: 2em;
    font-weight: bold;
}
.max-w {
    max-width: 100%;
}